
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
DROP TABLE IF EXISTS `admin_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_ledger` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `admin_id` int(10) unsigned NOT NULL,
  `target_user_id` int(10) unsigned NOT NULL,
  `direction` enum('credit','debit') NOT NULL,
  `amount` decimal(14,2) NOT NULL,
  `fund_type` enum('customer','own','aum_adjust') NOT NULL DEFAULT 'customer',
  `reason` varchar(255) NOT NULL,
  `reference` varchar(64) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_al_target` (`target_user_id`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `api_credentials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `api_credentials` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `name` varchar(120) NOT NULL,
  `api_key_prefix` varchar(16) NOT NULL,
  `api_key_hash` varchar(255) NOT NULL,
  `scopes` text DEFAULT NULL,
  `last_used_at` datetime DEFAULT NULL,
  `revoked_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_api_prefix` (`api_key_prefix`),
  KEY `fk_api_user` (`user_id`),
  CONSTRAINT `fk_api_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `api_jwt_blacklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `api_jwt_blacklist` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `jti` char(32) NOT NULL,
  `expires_at` datetime NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `jti` (`jti`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `entity_type` varchar(60) DEFAULT NULL,
  `entity_id` varchar(60) DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `meta` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_audit_created` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `bank_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank_events` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `event_type` varchar(80) NOT NULL,
  `entity_type` varchar(40) NOT NULL,
  `entity_id` varchar(60) NOT NULL,
  `user_id` int(10) unsigned DEFAULT NULL,
  `payload` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_bank_events` (`event_type`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `bank_transfers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank_transfers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `transfer_id` varchar(40) NOT NULL,
  `origin_id` varchar(15) NOT NULL,
  `from_user_id` int(10) unsigned NOT NULL,
  `from_wallet_id` int(10) unsigned NOT NULL,
  `to_user_id` int(10) unsigned DEFAULT NULL,
  `to_wallet_id` int(10) unsigned DEFAULT NULL,
  `to_cvu` char(22) DEFAULT NULL,
  `to_alias` varchar(40) DEFAULT NULL,
  `to_cuit` varchar(13) DEFAULT NULL,
  `amount` decimal(14,2) NOT NULL,
  `currency` char(3) NOT NULL DEFAULT 'ARS',
  `concept` varchar(10) NOT NULL DEFAULT 'VAR',
  `description` varchar(100) DEFAULT NULL,
  `status` enum('PENDING','COMPLETED','ERROR','CANCELLED') NOT NULL DEFAULT 'PENDING',
  `status_description` varchar(120) DEFAULT NULL,
  `wallet_tx_out` varchar(64) DEFAULT NULL,
  `wallet_tx_in` varchar(64) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transfer_id` (`transfer_id`),
  UNIQUE KEY `uq_origin_from` (`from_user_id`,`origin_id`),
  KEY `idx_bt_from` (`from_user_id`,`created_at`),
  CONSTRAINT `fk_bt_from_user` FOREIGN KEY (`from_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `beneficiaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `beneficiaries` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `label` varchar(120) NOT NULL,
  `cvu_cbu` char(22) DEFAULT NULL,
  `alias` varchar(40) DEFAULT NULL,
  `cuit` varchar(13) DEFAULT NULL,
  `owner_name` varchar(160) DEFAULT NULL,
  `status` enum('active','disabled') NOT NULL DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ben_user` (`user_id`),
  CONSTRAINT `fk_ben_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `debins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `debins` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `debin_id` varchar(40) NOT NULL,
  `origin_id` varchar(15) NOT NULL,
  `seller_user_id` int(10) unsigned NOT NULL,
  `seller_wallet_id` int(10) unsigned NOT NULL,
  `buyer_user_id` int(10) unsigned DEFAULT NULL,
  `buyer_wallet_id` int(10) unsigned DEFAULT NULL,
  `buyer_cvu` char(22) DEFAULT NULL,
  `buyer_alias` varchar(40) DEFAULT NULL,
  `amount` decimal(14,2) NOT NULL,
  `currency` char(3) NOT NULL DEFAULT 'ARS',
  `concept` varchar(10) NOT NULL DEFAULT 'VAR',
  `description` varchar(100) DEFAULT NULL,
  `provision` varchar(80) DEFAULT NULL,
  `expiration_minutes` int(10) unsigned NOT NULL DEFAULT 60,
  `expires_at` datetime NOT NULL,
  `status` enum('PENDING','AWAITING_CONFIRMATION','COMPLETED','REJECTED','EXPIRED','ERROR','CANCELLED') NOT NULL DEFAULT 'AWAITING_CONFIRMATION',
  `status_description` varchar(120) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `resolved_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `debin_id` (`debin_id`),
  UNIQUE KEY `uq_debin_origin` (`seller_user_id`,`origin_id`),
  KEY `idx_debin_buyer` (`buyer_user_id`,`status`),
  CONSTRAINT `fk_debin_seller` FOREIGN KEY (`seller_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `echeq_actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `echeq_actions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `echeq_id` bigint(20) unsigned NOT NULL,
  `actor_user_id` int(10) unsigned NOT NULL,
  `action` enum('ISSUE','ENDORSE','DEPOSIT','REJECT','CANCEL','ACCREDIT') NOT NULL,
  `note` varchar(255) DEFAULT NULL,
  `meta` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_echeq_act` (`echeq_id`),
  CONSTRAINT `fk_echeq_act` FOREIGN KEY (`echeq_id`) REFERENCES `echeqs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `echeqs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `echeqs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `echeq_id` varchar(40) NOT NULL,
  `issuer_user_id` int(10) unsigned NOT NULL,
  `issuer_wallet_id` int(10) unsigned NOT NULL,
  `receiver_user_id` int(10) unsigned DEFAULT NULL,
  `receiver_cuit` varchar(13) DEFAULT NULL,
  `receiver_name` varchar(160) DEFAULT NULL,
  `amount` decimal(14,2) NOT NULL,
  `currency` char(3) NOT NULL DEFAULT 'ARS',
  `check_type` enum('CPD','CC') NOT NULL DEFAULT 'CPD',
  `payment_date` date NOT NULL,
  `status` enum('ACTIVE','CUSTODY','ACCREDIT','ENDORSED','REJECTED','CANCELLED','EXPIRED') NOT NULL DEFAULT 'ACTIVE',
  `current_holder_user_id` int(10) unsigned DEFAULT NULL,
  `description` varchar(160) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `echeq_id` (`echeq_id`),
  KEY `idx_echeq_issuer` (`issuer_user_id`,`status`),
  KEY `idx_echeq_holder` (`current_holder_user_id`,`status`),
  CONSTRAINT `fk_echeq_issuer` FOREIGN KEY (`issuer_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `fund_deposits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fund_deposits` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `amount` decimal(14,2) NOT NULL,
  `method` enum('transfer','cash','admin','other') NOT NULL DEFAULT 'transfer',
  `external_reference` varchar(80) DEFAULT NULL,
  `status` enum('pending','confirmed','rejected','cancelled') NOT NULL DEFAULT 'pending',
  `admin_id` int(10) unsigned DEFAULT NULL,
  `admin_notes` varchar(255) DEFAULT NULL,
  `confirmed_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_dep_user` (`user_id`,`status`),
  KEY `idx_dep_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `kyc_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kyc_documents` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `doc_type` enum('dni_front','dni_back','selfie','proof_address','other') NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `reviewer_id` int(10) unsigned DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_kyc_user` (`user_id`),
  CONSTRAINT `fk_kyc_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `lender_mandates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lender_mandates` (
  `user_id` int(10) unsigned NOT NULL,
  `mode` enum('manual','auto') NOT NULL DEFAULT 'manual',
  `max_per_loan` decimal(14,2) NOT NULL DEFAULT 50000.00,
  `max_total_exposure` decimal(14,2) NOT NULL DEFAULT 500000.00,
  `min_annual_rate` decimal(7,4) NOT NULL DEFAULT 0.0000,
  `allowed_bands` varchar(20) NOT NULL DEFAULT 'A,B,C',
  `use_platform_decision` tinyint(1) NOT NULL DEFAULT 0,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `loan_fundings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loan_fundings` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `loan_id` int(10) unsigned NOT NULL,
  `lender_id` int(10) unsigned NOT NULL,
  `amount` decimal(14,2) NOT NULL,
  `expected_return` decimal(14,2) NOT NULL DEFAULT 0.00,
  `status` enum('reserved','active','completed','cancelled','defaulted') NOT NULL DEFAULT 'reserved',
  `funding_source` enum('manual','auto_mandate','platform_own') NOT NULL DEFAULT 'manual',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_funding_loan` (`loan_id`),
  KEY `idx_funding_lender` (`lender_id`),
  CONSTRAINT `fk_funding_lender` FOREIGN KEY (`lender_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_funding_loan` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `loan_installments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loan_installments` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `loan_id` int(10) unsigned NOT NULL,
  `installment_number` smallint(5) unsigned NOT NULL,
  `due_date` date NOT NULL,
  `principal_portion` decimal(14,2) NOT NULL,
  `interest_portion` decimal(14,2) NOT NULL,
  `fee_portion` decimal(14,2) NOT NULL DEFAULT 0.00,
  `total_amount` decimal(14,2) NOT NULL,
  `paid_amount` decimal(14,2) NOT NULL DEFAULT 0.00,
  `status` enum('pending','partial','paid','overdue','waived') NOT NULL DEFAULT 'pending',
  `paid_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_loan_installment` (`loan_id`,`installment_number`),
  KEY `idx_inst_due` (`due_date`,`status`),
  CONSTRAINT `fk_inst_loan` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `loan_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loan_payments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `loan_id` int(10) unsigned NOT NULL,
  `installment_id` int(10) unsigned DEFAULT NULL,
  `payer_id` int(10) unsigned NOT NULL,
  `amount` decimal(14,2) NOT NULL,
  `payment_method` enum('wallet','manual','admin') NOT NULL DEFAULT 'wallet',
  `reference` varchar(64) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `reference` (`reference`),
  KEY `fk_pay_loan` (`loan_id`),
  KEY `fk_pay_inst` (`installment_id`),
  KEY `fk_pay_user` (`payer_id`),
  CONSTRAINT `fk_pay_inst` FOREIGN KEY (`installment_id`) REFERENCES `loan_installments` (`id`),
  CONSTRAINT `fk_pay_loan` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`),
  CONSTRAINT `fk_pay_user` FOREIGN KEY (`payer_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `loan_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loan_products` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(120) NOT NULL,
  `slug` varchar(120) NOT NULL,
  `description` text DEFAULT NULL,
  `min_amount` decimal(14,2) NOT NULL,
  `max_amount` decimal(14,2) NOT NULL,
  `min_term_months` tinyint(3) unsigned NOT NULL DEFAULT 1,
  `max_term_months` tinyint(3) unsigned NOT NULL DEFAULT 36,
  `annual_rate` decimal(7,4) NOT NULL COMMENT 'Tasa nominal anual %',
  `origination_fee_pct` decimal(7,4) NOT NULL DEFAULT 0.0000,
  `late_fee_pct` decimal(7,4) NOT NULL DEFAULT 0.0000,
  `is_p2p` tinyint(1) NOT NULL DEFAULT 1,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `loans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loans` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `loan_code` varchar(24) NOT NULL,
  `borrower_id` int(10) unsigned NOT NULL,
  `product_id` int(10) unsigned NOT NULL,
  `principal` decimal(14,2) NOT NULL,
  `funded_amount` decimal(14,2) NOT NULL DEFAULT 0.00,
  `annual_rate` decimal(7,4) NOT NULL,
  `tea` decimal(9,4) DEFAULT NULL,
  `cft_tna` decimal(9,4) DEFAULT NULL,
  `cft_tea` decimal(9,4) DEFAULT NULL,
  `origination_fee_amount` decimal(14,2) NOT NULL DEFAULT 0.00,
  `term_months` tinyint(3) unsigned NOT NULL,
  `installment_amount` decimal(14,2) NOT NULL,
  `total_payable` decimal(14,2) NOT NULL,
  `purpose` varchar(255) DEFAULT NULL,
  `status` enum('draft','open','funding','funded','active','completed','defaulted','cancelled','rejected') NOT NULL DEFAULT 'open',
  `funded_at` datetime DEFAULT NULL,
  `disbursed_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `next_due_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `loan_code` (`loan_code`),
  KEY `idx_loans_borrower` (`borrower_id`),
  KEY `idx_loans_status` (`status`),
  KEY `fk_loans_product` (`product_id`),
  CONSTRAINT `fk_loans_borrower` FOREIGN KEY (`borrower_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_loans_product` FOREIGN KEY (`product_id`) REFERENCES `loan_products` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `title` varchar(160) NOT NULL,
  `body` text NOT NULL,
  `link` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_notif_user` (`user_id`,`is_read`),
  CONSTRAINT `fk_notif_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `otp_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `otp_codes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `channel` enum('email','sms') NOT NULL,
  `code_hash` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  `consumed_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_otp_user` (`user_id`,`channel`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_resets` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(190) NOT NULL,
  `token` char(64) NOT NULL,
  `expires_at` datetime NOT NULL,
  `used_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `idx_pr_email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `platform_treasury`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `platform_treasury` (
  `id` tinyint(3) unsigned NOT NULL DEFAULT 1,
  `own_balance` decimal(14,2) NOT NULL DEFAULT 0.00,
  `third_party_aum` decimal(14,2) NOT NULL DEFAULT 0.00,
  `pending_deposits` decimal(14,2) NOT NULL DEFAULT 0.00,
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `qr_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qr_payments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `from_user_id` int(10) unsigned NOT NULL,
  `to_user_id` int(10) unsigned NOT NULL,
  `amount` decimal(14,2) NOT NULL,
  `qr_token` varchar(64) NOT NULL,
  `reference` varchar(64) NOT NULL,
  `status` enum('completed','failed','reversed') NOT NULL DEFAULT 'completed',
  `note` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `reference` (`reference`),
  KEY `fk_qr_from` (`from_user_id`),
  KEY `fk_qr_to` (`to_user_id`),
  CONSTRAINT `fk_qr_from` FOREIGN KEY (`from_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_qr_to` FOREIGN KEY (`to_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `support_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `support_tickets` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned DEFAULT NULL,
  `name` varchar(120) NOT NULL,
  `email` varchar(190) NOT NULL,
  `subject` varchar(160) NOT NULL,
  `message` text NOT NULL,
  `status` enum('open','answered','closed') NOT NULL DEFAULT 'open',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `credimax_id` varchar(20) NOT NULL COMMENT 'Identidad ??nica p??blica CMX-XXXXXXXX',
  `email` varchar(190) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `first_name` varchar(80) NOT NULL,
  `last_name` varchar(80) NOT NULL,
  `dni` varchar(20) DEFAULT NULL,
  `cuit` varchar(13) DEFAULT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `address_street` varchar(160) DEFAULT NULL,
  `address_city` varchar(80) DEFAULT NULL,
  `address_province` varchar(80) DEFAULT NULL,
  `address_zip` varchar(20) DEFAULT NULL,
  `birth_date` date DEFAULT NULL,
  `gender` char(1) DEFAULT NULL,
  `role` enum('user','admin') NOT NULL DEFAULT 'user',
  `can_lend` tinyint(1) NOT NULL DEFAULT 1,
  `can_borrow` tinyint(1) NOT NULL DEFAULT 1,
  `kyc_status` enum('pending','submitted','approved','rejected') NOT NULL DEFAULT 'pending',
  `kyc_notes` text DEFAULT NULL,
  `status` enum('active','suspended','closed') NOT NULL DEFAULT 'active',
  `email_verified_at` datetime DEFAULT NULL,
  `last_login_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `employment_status` varchar(40) DEFAULT NULL,
  `employer_name` varchar(120) DEFAULT NULL,
  `job_seniority_months` int(10) unsigned DEFAULT 0,
  `monthly_income` decimal(14,2) DEFAULT 0.00,
  `income_type` varchar(40) DEFAULT NULL,
  `is_pep` tinyint(1) NOT NULL DEFAULT 0,
  `pep_detail` varchar(255) DEFAULT NULL,
  `terms_accepted_at` datetime DEFAULT NULL,
  `privacy_accepted_at` datetime DEFAULT NULL,
  `phone_verified_at` datetime DEFAULT NULL,
  `onboarding_step` varchar(40) DEFAULT 'start',
  `risk_score` int(11) DEFAULT NULL,
  `risk_band` char(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `credimax_id` (`credimax_id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_status` (`status`),
  KEY `idx_users_kyc` (`kyc_status`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `wallet_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wallet_transactions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `wallet_id` int(10) unsigned NOT NULL,
  `user_id` int(10) unsigned NOT NULL,
  `type` enum('deposit','withdraw','transfer_in','transfer_out','loan_disburse','loan_repay','loan_fund','fee','refund','adjustment') NOT NULL,
  `amount` decimal(14,2) NOT NULL,
  `balance_after` decimal(14,2) NOT NULL,
  `reference` varchar(64) NOT NULL,
  `related_user_id` int(10) unsigned DEFAULT NULL,
  `related_loan_id` int(10) unsigned DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `meta` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tx_reference` (`reference`),
  KEY `idx_tx_wallet` (`wallet_id`,`created_at`),
  KEY `idx_tx_user` (`user_id`,`created_at`),
  CONSTRAINT `fk_tx_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_tx_wallet` FOREIGN KEY (`wallet_id`) REFERENCES `wallets` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `wallets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wallets` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `balance` decimal(14,2) NOT NULL DEFAULT 0.00,
  `available_balance` decimal(14,2) NOT NULL DEFAULT 0.00,
  `reserved_balance` decimal(14,2) NOT NULL DEFAULT 0.00,
  `currency` char(3) NOT NULL DEFAULT 'ARS',
  `bank_id` varchar(10) NOT NULL DEFAULT '900',
  `account_code` varchar(32) DEFAULT NULL,
  `account_type` varchar(40) NOT NULL DEFAULT 'CA',
  `cvu` char(22) DEFAULT NULL,
  `cbu` char(22) DEFAULT NULL,
  `alias` varchar(40) DEFAULT NULL,
  `cuit` varchar(13) DEFAULT NULL,
  `qr_token` varchar(64) NOT NULL,
  `status` enum('active','frozen','closed') NOT NULL DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  UNIQUE KEY `qr_token` (`qr_token`),
  UNIQUE KEY `uq_wallets_cvu` (`cvu`),
  UNIQUE KEY `uq_wallets_alias` (`alias`),
  UNIQUE KEY `uq_wallets_account_code` (`account_code`),
  CONSTRAINT `fk_wallets_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `withdraw_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `withdraw_requests` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `amount` decimal(14,2) NOT NULL,
  `destination_cbu` varchar(22) DEFAULT NULL,
  `destination_alias` varchar(40) DEFAULT NULL,
  `destination_holder` varchar(160) DEFAULT NULL,
  `status` enum('pending','paid','rejected','cancelled') NOT NULL DEFAULT 'pending',
  `admin_id` int(10) unsigned DEFAULT NULL,
  `admin_notes` varchar(255) DEFAULT NULL,
  `paid_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_wd_user` (`user_id`,`status`),
  KEY `idx_wd_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

